body, html {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%, #f4eb42 100%);
  height: 100%;
}

.logo {
  background-image: url('img/my-photo.jpg');
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
